
/* The horizontal navigation bar */
.navbar {
	position: fixed;
	top: 0;
	width: 100%
	overflow: hidden;
	background-color: #000;
}

/* Links inside the horizontal navbar */
.navbar a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
	color: #000;
}

.navbar a:hover {
	background-color: #555;
	color: white;
}

.active {
	background-color: white;
	color: #000;
}

/* The vertical navigation bar */


/* Dropdown menu */
